body,
html {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

.border-0 {
  border: none;
  outline: none;
}

body {
  padding: 0 !important;
  margin: 0 !important;
}
body .todoWrapper {
  justify-content: space-between;
}
body .todoWrapper .categorySelector {
  position: relative;
  width: 200px;
  margin: 10px;
}
body .todoWrapper .categorySelector .select-styled {
  direction: rtl;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
body .todoWrapper .categorySelector .select-options {
  display: none;
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  margin-top: -1px;
  padding: 0;
  list-style: none;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  max-height: 100px;
  direction: rtl;
}
body .todoWrapper .categorySelector .select-options li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
body .todoWrapper .categorySelector .select-options li:hover {
  background-color: #f2f2f2;
}
body .todoWrapper > div {
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
  border: 0.1px solid rgba(128, 128, 128, 0.123);
  padding: 10px;
  border-radius: 8px;
}
body .todoWrapper ul::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}
body .todoWrapper ul::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0.342); /* color of the tracking area */
  border-radius: 4px;
}
body .todoWrapper .categoryWrapper input {
  font-size: 15px;
  direction: rtl;
  width: 100%;
  flex: 1;
  padding: 5px;
  font-size: 12px;
  border: none;
  outline: none;
  color: skyblue;
}
body .todoWrapper .categoryWrapper #categoryResElement {
  width: 100%;
  display: none;
  border: 1px solid #cacaca;
  border-radius: 8px;
  max-height: 100px;
  overflow-y: auto;
  position: relative;
  background-color: #fff;
  z-index: 1;
}
body .todoWrapper .categoryWrapper #categoryResElement::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}
body .todoWrapper .categoryWrapper #categoryResElement::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0.342); /* color of the tracking area */
  border-radius: 4px;
}
body .todoWrapper .categoryWrapper #categoryResElement div {
  direction: rtl;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 6px;
  font-size: 14px;
}
body .todoWrapper .categoryWrapper #categoryResElement div:hover {
  background-color: #f2f2f2;
}
body .calendarWrapper > #calendar {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin: 0px;
  text-align: center;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 1200px) {
  body {
    display: grid;
    grid-template-columns: auto;
  }
  body .calendarWrapper #calendar {
    max-width: unset !important;
    font-size: 10px;
  }
  body .categorySelector {
    font-size: 10px;
  }
  body .todoWrapper {
    flex-direction: column;
    padding-top: 0px;
  }
  body .todoWrapper .item .top {
    gap: 10px;
  }
  body .todoWrapper .inputWrapper .mainText {
    display: grid;
    grid-template-areas: "input input input input btn" "colors colors colors colors colors";
    gap: 0;
    padding: 10px;
  }
  body .todoWrapper .inputWrapper input {
    grid-area: input;
  }
  body .todoWrapper .inputWrapper .TaskColorSeletor {
    grid-area: colors;
    gap: 32px;
    width: 100%;
  }
  body .todoWrapper .inputWrapper .sendBtn {
    grid-area: btn;
  }
  body .todoWrapper .categoryWrapper #categoryResElement {
    width: 100%;
    border: none;
  }
  body .todoWrapper ul {
    max-height: 160px;
    overflow-y: scroll;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    display: grid;
    grid-template-columns: auto 30%;
  }
  body .calendarWrapper #calendar {
    max-width: unset !important;
  }
  body .todoWrapper .item .top {
    gap: 10px;
  }
  body .todoWrapper ul {
    max-height: 50vh;
    overflow-y: scroll;
  }
}/*# sourceMappingURL=main.css.map */