body,
html {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-0 {
  border: none;
  outline: none;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  .todoWrapper {
    justify-content: space-between;
    .categorySelector {
      position: relative;
      width: 200px;
      margin: 10px;
      .select-styled {
        direction: rtl;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
      }
      .select-options {
        display: none;
        position: absolute;
        width: 100%;
        border: 1px solid #ccc;
        border-top: none;
        border-radius: 0 0 5px 5px;
        margin-top: -1px;
        padding: 0;
        list-style: none;
        background-color: #fff;
        z-index: 999;
        overflow-y: auto;
        max-height: 100px;
        direction: rtl;
        li {
          padding: 10px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #f2f2f2;
          }
        }
      }
    }
    & > div {
      box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.1);
      border: 0.1px solid rgba(128, 128, 128, 0.123);
      padding: 10px;
      border-radius: 8px;
    }
    ul {
      &::-webkit-scrollbar {
        width: 5px; /* width of the entire scrollbar */
      }
      &::-webkit-scrollbar-track {
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(255, 0, 0, 0.342); /* color of the tracking area */
        border-radius: 4px;
      }
    }
    .categoryWrapper {
      input {
        font-size: 15px;
        direction: rtl;
        width: 100%;
        flex: 1;
        padding: 5px;
        font-size: 12px;
        border: none;
        // border-bottom: 1px solid #cacaca;
        outline: none;
        color: skyblue;
      }
      #categoryResElement {
        display: none;
        border: 1px solid #cacaca;
        border-radius: 8px;
        max-height: 100px;
        overflow-y: auto;
        position: absolute;
        background-color: #fff;
        z-index: 1;

        &::-webkit-scrollbar {
          width: 5px; /* width of the entire scrollbar */
        }
        &::-webkit-scrollbar-track {
        }
        &::-webkit-scrollbar-thumb {
          background: rgba(255, 0, 0, 0.342); /* color of the tracking area */
          border-radius: 4px;
        }
        div {
          direction: rtl;
          cursor: pointer;
          transition: background-color 0.3s;
          padding: 6px;
          font-size: 14px;
          &:hover {
            background-color: #f2f2f2;
          }
        }
      }
    }
  }
  .calendarWrapper {
    & > #calendar {
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      margin: 0px;
      text-align: center;
    }
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 1200px) {
  body {
    display: grid;
    grid-template-columns: auto;
    .calendarWrapper {
      #calendar {
        max-width: unset !important;
        font-size: 10px;
      }
    }

    .categorySelector{
          font-size: 10px;
          
    }
    .todoWrapper {
      flex-direction: column;
      padding-top: 0px;

      .item .top {
        gap: 10px;
      }
      .inputWrapper {
        .mainText {
          display: grid;
          grid-template-areas:
            "input input input input btn"
            "colors colors colors colors colors";
          gap: 0;
          padding: 10px;
        }
        input {
          grid-area: input;
        }
        .TaskColorSeletor {
          grid-area: colors;
          gap: 32px;
          width: 100%;
        }
        .sendBtn {
          grid-area: btn;
        }
      }
      .categoryWrapper {
        #categoryResElement {
          right: calc(100vw - 444px);
          bottom: 65px;
          border: none;
        }
      }
      ul {
        max-height: 160px;
        overflow-y: scroll;
      }
    }
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    display: grid;
    grid-template-columns: auto 30%;
    .calendarWrapper {
      #calendar {
        max-width: unset !important;
      }
    }
    .todoWrapper {
      flex-direction: row;
      .item .top {
        gap: 10px;
      }
      ul {
        max-height: 50vh;
        overflow-y: scroll;
      }
    }
  }
}
